body {
  margin: 0;
  background: linear-gradient(to right, #ce49bf 0%, #f190b7 100%);
}
/*Header component*/
header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #672280 0%, #a626d3 100%);
  box-shadow: 0 5px 10px 0px #111;
}

.logo {
  display: flex;
  margin-left: 3%;
}

.troll-face {
  width: 45px;
  align-self: center;
}

.header-big {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 25;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: white;
  margin-left: 15px;
}

.header-small {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  text-align: right;
  color: #ffffff;
  margin-right: 3%;
  align-self: center;
}

/*Meme component*/
main {
  padding: 50px;
}
.meme {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 25%;
}

.input1,
.input2 {
  border: 1px solid #ccc;
  border-radius: 9px;
  box-sizing: border-box;
  font-family: "Karla";
  text-align: center;
}

.button-input {
  background: linear-gradient(to right, #672280 0%, #a626d3 100%);
  height: 50px;
  border-radius: 8px;
  font-size: 25px;
  color: white;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  grid-column: 1 / -1;
  border: none;
  cursor: pointer;
}

.meme-image {
  margin: 10% auto;
  display: block;
  width: 30%;
}
